* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #343A40;
    padding-left: 5%;

    min-width: 958px;
    text-align: center;


}

nav ul {
    max-width: 1280px;
    margin: 0 auto;

}

nav ul li {
    float: left;
    list-style: none;
    border-right: 2px solid #111;


}

nav ul li a {
    color: #bbb;
    text-decoration: none;
    line-height: 70px;
    width: auto;
    padding: 0 40px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    display: block;


}

nav ul li a:hover {
    color: white;
}

nav ul li:nth-child(5) {
    border-right-width: 0px;
}


nav ul.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: -2px;
}

p {
    margin-top: 40px;
}
